$leftBar: 280px;
$navRadius: 30px;
$baseRadius: 5px;
$hamburgerIconWidth1: 17px;
$hamburgerIconWidth2: 34px;

$primary-boxShadow: 0 8px 6px -6px rgba(0,0,0,.1);
$icon-height: 45px;
$nav-padding: 16px;
$base-padding: 20px;
